.container {
  left: 5%;
  width: 24px;
  height: 24px;
  overflow: hidden;
  position: absolute;
}

.bar {
  background-color: white;
  width: 48px;
  height: 1px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.bar:nth-child(2) {
  transform: translate(-50%, -50%) rotate(45deg);
}
