.loading-container {
  min-width: 100vh; /* Fallback */
  min-width: calc(var(--vw, 1vw) * 100);
  min-height: 100vw; /* Fallback */
  min-height: calc(var(--vh, 1vh) * 100);
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  z-index: 99999;
}
