.mailform-container-loaded {
  display: none;
  overflow: hidden;
}

.mailform-container {
  background: black;
  width: 100%;
  padding: 2rem 4rem;
  display: flex;
  flex-direction: column;
}

.text-box {
  display: flex;
  align-items: flex-end;
  margin-bottom: .5rem;
}

.text {
  color: gray;
  letter-spacing: 1px;
}
