@keyframes click-long {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}

@keyframes click-short {
  0% {
    width: 50%
  }
  100% {
    width: 0%
  }
}

.menuContainer {
  position: absolute;
  left: 8%;
  width: 24px;
  height: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.menuBar {
  width: 100%;
  height: 1px;
  background: black;
  position: relative;
}

.menuBar:nth-child(2) {
  width: 50%;
  margin-top: 8px;
}

.menuBar-clicked {
  animation-name: click-long;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  height: 1px;
  background: black;
  position: relative;
  margin-top: 10px
}

.menuBar-clicked:nth-child(2) {
  animation-name: click-short;
}
