html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Hina Mincho', serif; 
  background: white;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

text {
  color: black;
}
